<style>
    .desktop{max-width:100%;display: block;}
    .mobile{display: none;}
    @media(max-width:450px){
        .desktop{display: none;}
        .mobile{display: block; max-width: 100%;}
    }
</style>
<div class="aplus">
    {% for block in section.blocks %}
    <div class="desktop">
        <img src="{ block.settings.desktop_a |  image_url: 'master'  }}" alt="{{ block.settings.desktop_a.alt }}">
    </div>
    <div class="mobile">
    <img {% if block.settings.mobile_a != blank %}src="{{ block.settings.mobile_a |  image_url: 'master'  }}" {% else %} src="{{ block.settings.desktop_a |  image_url: 'master'  }}"{% endif %} alt="{{ block.settings.desktop_a.alt }}">
    </div>
    {% endfor %}
</div>
{% schema %}
{
    "name": "A+ Banners",
    "settings": [],
    "blocks": [
        {
            "name": "A+ block",
            "limit": 6,
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id":"dekstop_a",
                    "label":"Select Desktop A+"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_a",
                    "label": "Select Mobile A+"
                }
            ]
        }
    ]
}
{% endschema %}