<style>
    .desktop{max-width:100%;display: block;}
    .mobile{display: none;}
    @media(max-width:450px){
        .desktop{display: none;}
        .mobile{display: block; max-width: 100%;}
    }
</style>
<div class="container">
  <div class="aplus">
    {% for block in section.blocks %}
      {% if block.settings.dekstop_a != blank %}
        <div class="apkus-inner">
          <img src="{{ block.settings.img | img_url: '900x' }}" class="desktop_aplus" alt="{{ block.settings.dekstop_a.alt }}">
        <img src="{% if block.settings.mobile_a != blank %}{{ block.settings.mobile_a  | img_url:'900x'}}{% else %}{{ block.settings.dekstop_a | img_url: '900x' }}{% endif %}" class="mobile_aplus">
        </div>
    {% endif %}
      {% endfor %}
  </div>
  
</div>
{% schema %}
{
    "name": "A+ Banners",
    "settings": [],
    "blocks": [
        {
            "name": "A+ block",
            "limit": 6,
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id":"dekstop_a",
                    "label":"Select Desktop A+"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_a",
                    "label": "Select Mobile A+"
                }
            ]
        }
    ],
  "presets":[
    {
      "name":"A+ Banners"
    }
  ]
}
{% endschema %}