<style>
  .tabsss {
    /*margin-top: -50px;*/
    padding-bottom: 19px;
}

  .page-width{position:relative;text-align:center}
  .tabbar{text-align: center; background: #fff;max-width:100%;width:100%;overflow:hidden; margin-top:24px}
  .tabbar a {padding: 5px 8px; color: #000; display: inline-block; font-size: 18px; margin: 0 30px; text-transform: uppercase; font-weight: 500; letter-spacing: 1px;transition:0.4s}
  .tabbar a.active{text-decoration:underline;border-radius:50px;font-weight:bold;}
  .tab-content{display: none;}
  .tab-content.active { display: block;}
  .faqs-pr ul li {font-size: 20px;margin-bottom: 15px;}
  .content{display:none}
  .content p{padding:20px 0 0;margin:0;color:#333; }
  main {position: relative;}


  @media(max-width:480px){
    #ntheader, #shopify-section-navbar, #shopify-section-new-annbar{display:block}
    .accordion-container > h2{font-size:20px}
    .faqs-pr ul li{font-size:15px;padding-right: 40px;margin-bottom:2px}
    .accordion-container{margin:20px auto; padding:0px}
    .cardslide{filter:grayscale(0);}
    .tabbar a {
    padding: 5px 8px;
    color: #000;
    display: inline-block;
    font-size: 13px;
    padding-top: 22px;
    margin: 0px 0px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
}
  }
</style>
  <div class="tabsss">
  <!-- Tabs -->
    <div class="tabbar">
      {% if product.metafields.my_fields.long-description!= blank %}<a href="#" class="tab active" data-toggle-target = ".tab-content-1">Product Information</a>{% endif %}
      {% if product.metafields.custom.how-to-use!= blank %}<a href="#" class="tab" data-toggle-target=".tab-content-2">How to Use</a>{% endif %}
      <a href="#" class="tab" data-toggle-target=".tab-content-3">Reviews</a>
      
    </div>
<!-- Content -->
<div class="tab-content tab-content-1 active">
  <div class="pr-info">
    {{ product.metafields.my_fields.long-description.value }}
  </div>
</div>
<div class="tab-content tab-content-2">
  <div class="accordion-container">
    <div class="faqs-pr">
       {{ product.metafields.custom.how-to-use.value }}
     </div>
</div>
</div>
<div class="tab-content tab-content-3">
  <!-- Start of Judge.me code --> 
    <div style='clear:both'></div>
    <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
        {{ product.metafields.judgeme.widget }}
    </div>
<!-- End of Judge.me code -->
</div>
</div>
<script>
  $(document).ready(function() {

  $(".set").on("click", function(e) {
    e.preventDefault();
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .children(".content")
        .slideUp(200);
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".set").removeClass("active");
      $(this).addClass("active");
      $(".content").slideUp(200);
      $(this)
        .children(".content")
        .slideDown(200);
    }
  });
});

  
    $('.tab').on('click', function(evt) {
  evt.preventDefault();
   $('.tab').removeClass('active');
  $(this).toggleClass('active');
  var sel = this.getAttribute('data-toggle-target');
  $('.tab-content').removeClass('active').filter(sel).addClass('active');
});
</script>



{% schema %}
{
  "name": "tabs",
  "class": "trimme",
  "settings": [],
  "presets": [
      {
        "name": "tabs",
        "category": "Product"
      }
    ]
}
{% endschema %}
