@media(max-width:500px){
a.menu-lv-1__action.list-menu__item.link.focus-inset.menu-lv__flex.menu_mobile_link:nth-child(1) {flex-direction: row-reverse;justify-content: space-between;padding: 6px 16px;}
#MenuMobileListSection-menu .custom-icon img{max-width:100px!important; max-height:100px!important}
  #MenuMobileListSection-menu .menu-lv-1__action{font-size:15px!important}
/*   a.menu_mobile_link:nth-child(1){background: linear-gradient(263deg, #0d5ea8, transparent);} */
}
.section-block-template--16129472299162__9ac55911-f286-442f-9490-36c188bd6ef1 .spotlight-item .img-box a {
    border-radius: 17px!important;
    box-shadow: 2px -1px 1px 0px #ddd;
}
/*BLOG CHANGES*/
.article-card__author {display: flex;justify-content: space-between;flex-direction: row;margin-top: 10px;}

/* PRODUCT PAGE CHANGES  - CRO */
.pr_mobile{display:none}
.mobile_displaynone {display: block;}
@media(max-width:450px){
  .pr_mobile{display:block; padding:15px 0}
  .mobile_displaynone {display: none;}
  .mobile_title>.productView-moreItem>.productView-title>span {font-size: 20px;font-weight: 700;}
  .price-item.price-item--sale {font-size: 20px !important;}
}